{% extends 'base.html.twig' %}

{% block title %}
	Users list
{% endblock %}

{% block body %}
	<h1 class="display-3 text-center mb-5 shadow p-3 mb-5 bg-white rounded">
		Utilisateurs
	</h1>
	{% for message in app.flashes('success') %}
  <div class="alert alert-danger" role="alert" id="alertError">
    {{ message }}
  	</div>
	{% endfor %}
		<table class="table table-bordered table-hover">
			<thead>
				<tr>
					<th scope="col">Username</th>
					<th scope="col">Email</th>
					<th scope="col">Role(s)</th>
					<th scopre="col">Actions</th>
				</tr>
			</thead>
			{% for user in users %}
				<tbody>
					<tr class="table-info">
						<td>{{ user.username }}</td>
						<td>{{ user.email }}</td>
						<td>{{ user.roles[0] }}</td>
						<td>
						<div class="row">
						<a href="{{ path('admin_user_edit', {id: user.id}) }}" input type="button" class="btn btn-primary">
							<i class="material-icons">create</i>
						</a>
						<form action="{{ path('admin_user_delete', {id:user.id}) }}" method="POST" onsubmit="return confirm('Etês-vous sûr de vouloir supprimer cet utilisateur?')">
						<button type="submit" class="btn btn-danger">
							<i class="material-icons">delete</i>
						</button>
						</form>
						</div>
					</tr>
				</tbody>
			{% endfor %}
		</table>
	</div>
{% endblock %}
{% block javascripts %}{% endblock %}
