<a class="weatherwidget-io" href="https://forecast7.com/en/48d696d18/nancy/" data-label_1="NANCY" data-label_2="WEATHER" data-theme="original">NANCY WEATHER</a>
{% for message in app.flashes('error') %}
	<div class="alert alert-danger" role="alert">
		{{ message }}
	</div>
{% endfor %}
<div class="shadow p-3 bg-white rounded m-3">
	<h5>
		<span class="material-icons">
			search
		</span>Rechercher par :</h5>
	{{ form_start(form) }}
	<div class="form-row mb-2">
		<div class="col-2">
			{{ form_row(form.nom) }}
		</div>
		<div class="col-2">
			{{ form_row(form.lieu) }}
		</div>
		<div class="col-3">
			<button class="btn btn-primary">Search</button>
		</div>
	</div>
</div>
{{ form_end(form) }}
{% for event in events %}
	<div class="card-group d-inline-block">
		<div class="card border-primary m-3 zoom" style="max-width: 35rem;">
			<div class="card-header">{{ event.lieu }}</div>
			<div class="card-body">
				<h4 class="card-title">{{ event.nom }}</h4>
				<p class="card-text font-weight-light text-justify">{{ event.description | slice(0,100) }}...
					<div class="font-italic">
						{{ event.date | date('d/m/Y') }}
						à
						{{ event.date | date('H:i') }}
					</div>
					<a class="btn btn-primary btn-sm active zoom" href="{{ path('event_show', {id: event.id}) }} " role="button">
						<span class="material-icons">
							find_in_page
						</span>
						More details</a>
				</p>
			</div>
		</div>
	</div>
{% endfor %}
{% block javascript %}
	<script>
		!(function (d, s, id) {
var js,
fjs = d.getElementsByTagName(s)[0];
if (! d.getElementById(id)) {
js = d.createElement(s);
js.id = id;
js.src = "https://weatherwidget.io/js/widget.min.js";
fjs.parentNode.insertBefore(js, fjs);
}
})(document, "script", "weatherwidget-io-js");
	</script>
{% endblock %}
