{% extends 'base.html.twig' %}
{% block stylesheets %}{% endblock %}
{% block title %}Event n°
	{{ event.nom }}
{% endblock %}

{% block body %}
	<div class="jumbotron">
		<h1 class="display-4 mb-3 ">
			{{ event.nom }}
		</h1>
		<p class="lead">
			{{ event.description }}
		</p>
		<hr class="my-4">
		<p>
			{{ event.lieu }}
		</p>
		<p class="lead">
			{{ event.date | date('d/m/Y') }}
			à
			{{event.date | date('H:i')}}
			<form action="{{ path('event_delete', {id:event.id}) }}" method="POST" onsubmit="return confirm('Etês-vous sûr de vouloir supprimer cet événement ?')">
				<div class="form-group">
					{% if is_granted('ROLE_ADMIN') %}
						<a href="{{ path('event_edit', {id: event.id}) }}" input type="button" class="btn btn-primary">
							<i class="material-icons">create</i>Modifier l'événement
						</a>
						<button type="submit" class="btn btn-danger">
							<i class="material-icons">delete</i>
							Supprimer l'événement
						</button>
					{% endif %}
				</div>
			</form>
			<hr class="my-4">
			<div class="col-md-4">
				<p class="h3 mb-4">
					<button type="button" class="btn btn-primary" id="btnC">Contactez-nous</button>
				</p>
			</div>
			<div {% if not formContact.vars.submitted %} style="display:none;" {% endif %}>
				<div id="formC" class="row">
					{{ form_start(formContact) }}
					<div class="col-md-4">
						{{ form_row(formContact.nom) }}
					</div>
					<div class="col-md-4">
						{{ form_row(formContact.email) }}
					</div>
					<div class="col-md-4">
						{{ form_row(formContact.message) }}
					</div>
					{# {{ form_widget(formContact) }} #}
					<div class="col-md-4">
						<button type="submit" class="btn btn-primary">Envoyer</button>

						{% for message in app.flashes('success') %}
							<div class="alert alert-success" id="alertS" role="alert" style="width:300px">
								{{ message }}
							</div>
						{% endfor %}
					</div>
					{{ form_end(formContact) }}
					<div
						id="cartediv">{# OpenStrettMap/Leaflet #}
					</div>
				</div>
			</div>
		</p>
	</div>
{% endblock %}
